* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, serif;
    background-color: #606c38;
}
img {
    width: 300px;
    border: 3px solid #fefae0;
    border-radius: 10%;
}

.padding-20{
    padding: 20px;
}
.header-container{
    background-color: #dda15e;
    text-align: center;
    color: #283618;
}
.header-heading{
    font-size: 50px;
}
.main-heading{
    color: #fefae0;
    padding: 10px;
    text-align: center;
}
.recipe-container{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
}
.recipe-card{
    padding: 20px;
    margin: 10px;
    width: 350px;
    background-color: #dda15e;
    text-align: center;
    max-height: 500px;
}
.recipe-heading{
    font-size: 30px;
    padding: 5px;
    color: #fefae0;
}
.recipe-p{
    min-height: 130px;
    text-align: center;
    color: #283618;
}
.recipe-button {
    text-decoration: none;
    background-color: #bc6c25;
    color: #fefae0;
    padding: 10px;
    border: 3px solid #fefae0;
}

.header-nav{
    background-color: #bc6c25;
    padding: 20px;
    margin-top: 10px;
}

.main-section{
    padding: 10px;
    margin: 20px;
}
.section-heading{
    color: #fefae0;
    padding: 10px;
}
.section-desc{
    max-width: 500px;
}